.card-wrapper { 
    display: flex;
}

.card-container {
    height: 280px;
    width: 240px;
    border: 1px solid #000;
    background-color: #fff;
}

.photo-container {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 152px;
    background: no-repeat center center; 
    background-size: 100% 100%;
    /* height: 152px; */
}

.card-label {
    /* font-size: 12px; */
    font-weight: 700;
}