.card-wrapper { 
    display: inline-block;
    margin: 0 1rem 1rem 1rem;
}

.card-container {
    border: none;
    height: 390px;
    width: 240px;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    box-sizing: border-box;
}

.photo-container {
    position: relative;
    /* background-color: grey; */
    width: 100%;
    height: 152px;
    background: no-repeat center center; 
    background-size: 100% 100%;
    margin-bottom: 0.75rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card-label {
    /* font-size: 12px; */
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 700;
    /* color: #3f51b5; */
    /* opacity: 0.7; */
    margin-bottom: 0.25rem;
}

.card-body {
    padding: 0;
}

.info-body {
    padding: 0.75rem;
}

.class-result {
    background-color: #2C98F0;
    color: #fff;
    font-weight: 700;
    margin-left: 0.25rem;
}

#separator {
    margin: 1rem 0;
}

.class-badge {
    font-weight: 700;
    margin: 0;
}

.class-model {
    background: rgba(40, 167, 69, 0.15);
    color: #28A745;
}

.label-result {
    display: flex;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #2C98F0;
    border-color: #2C98F0; 
}

.card-text {
    margin-bottom: 0.25rem;
}