.report-wrapper h5{
    font-weight: 700;
}

.report-wrapper{
    margin: 2em;
}

.report-inside{
    background-color: #F2F5FD;
    height: 100%;
    border-radius: 4px;
    padding: 24px;
}

.give-report{
    display: flex;
    align-items: center;
}

.give-report p{
    margin: 0 1em;
    color: #76819A;
}