.file-status-bar{
    width: 100%;
    /* vertical-align:top;
    margin-top: 10px;
    margin-bottom: 20px; */
    /* position: relative; */
    /* line-height: 50px; */
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: auto 0;
    /* align-items: center;
    justify-items: center; */
}

.file-status-bar > div {
    overflow: hidden;
}

.file-type {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin-top: 25px;
    padding: 0 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
    text-transform: uppercase;
}

.file-name {
    /* display: inline-block; */
    /* vertical-align:top; */
    /* margin-left: 50px; */
    color: #4aa1f3;
}

.file-error {
    /* display: inline-block; */
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.file-error-message {
    color: red;
}

.file-type-logo {
    height: 100px;
    width: 100px;
    background: no-repeat center center; 
    background-size: 100%;
    /* background-color: red; */
    position: absolute;
}

.file-size {
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    margin-left:10px;
    margin-right:5px;
    margin-left: 10px;
    color: #444242;
    font-weight: 700;
    font-size: 14px;
}

.file-remove  {
    position: absolute;
    top: 20px;
    right: 10px;
    line-height: 15px;
    cursor: pointer;
    color: red;
    margin-right: -10px;
}
