.uploadImage {
    background-image: url(../../images/icon-image.svg);
    /* display: block;
    margin: auto; */
    /* height: 8px;
    width: 8px; */
    
    background-position: 50% 50%;
    background-size: contain;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat; 
}


.point-wrapper {
    /* display: flex; */
    /* align-items: center; */
}

.point-part {
    display: flex;
}

.deleteBtn {
    background-color: #DC3545;
    border: none;
    float: right;
}
#md-container {
    margin-bottom: 1.5rem;
}