.uploadImage {
    background-image: url(../../images/bxs-network-chart.svg);
    /* display: block;
    margin: auto; */
    /* height: 8px;
    width: 8px; */
}

.point-wrapper {
    /* display: flex; */
    /* align-items: center; */
}

.point-part {
    display: flex;
}

.deleteBtn {
    background-color: #DC3545;
    border: none;
    float: right;
}
#md-container {
    margin-bottom: 1.5rem;
}