.stepsWrapper {
    /* background-color: #eff3fb; */
    padding-bottom: 0px !important;
}

.container-fluid {
    padding: 1.5rem 2rem;
}

.MuiStepper-root {
    padding: 24px 0!important;
}

.progressWrapper {
    width: 100%!important;
}

.progress-button {
    /* display: flex; */
    align-items: center;
    justify-items: flex-end;
}

.step-button {
    margin-left: auto;
    width: 100%;
}

#nextBtn {
    /* height: auto; */
    margin-left: 0.5rem;
    background-color: #2C98F0;
    font-weight: 700;
    border: none; 
    float: right;
}

.first-next {
    margin-left: 0!important;
}

.listUIPlane {
    margin-left: 20px !important;
    text-indent: -1.0em !important;
}

.container {
    margin: 0px !important;
}
