.stepsWrapper {
    background-color: #eff3fb;
}

.container-fluid {
    padding: 1.5rem 2rem;
}

.MuiStepper-root {
    padding: 24px 0!important;
}

.progressWrapper {
    width: 100%!important;
}

.progress-button {
    display: flex;
    align-items: center;
    justify-items: flex-end;
}

.step-button {
    margin-left: auto;
}

#nextBtn {
    /* height: auto; */
    margin-left: 0.5rem;
}