.intro-wrapper{
    padding: 2em;
    text-align: center;
}

.title {
    font-weight: 700;
}

.scenario{
    font-weight: 700;
}

.sub-title{
    font-weight: 400;
}

.global-button{
    background-color: #0161D8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
}

.directions{
    padding: 0 2em;
    text-align: left;
}

.middle{
    margin: 2em 0;
}
