.image-wrapper {
    display: inline-block;
    position: relative;
    /* height: 100%; */
    height: 100%;
    width: 100px;
    /* margin-top: 75%; */
}

#image-container {
    position: absolute;
    background-color: grey;
    height: 100px;
    width: 100px;
    /* width: 100px; */
    /* width: 100px; */
    background: no-repeat center center; 
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    /* background-color: silvershow me! */
    background-size: 100% 100%;
    /* height: 152px; */
}

.exp-container {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 200px;
    background: no-repeat center center; 
}

.labelName {
    display: flex;
}

.agreeLabel {
    display: flex;
}

/* input image */
tr td:nth-child(1) {
    width: 20%;
}

/* image in first table column */
tr td:nth-child(1) > #image-container {
    max-height: 100px;
    /* width: 100%; */
    background: no-repeat center center; 
    aspect-ratio: attr(width) / attr(height);
}

/* explanation */
tr td:nth-child(2) {
    width: 40%;
}

/* labelling */
tr td:nth-child(3) {
    width: 40%;
}


