.summary-card {
    width: 230px;
    /* height: 200px; */
    background-color: #fff;
    margin: 1rem auto;
}

.label-card {
    display: flex;
}

.photo-container {
    /* z-index: 0; */
    position: relative;
    background-color: grey;
    width: 100%;
    height: 160px;
    background: no-repeat center center; 
    background-size: 100% 100%;
}

.indicator {
    /* float: right; */
    position: absolute;
    z-index: 10;
    display: flex;
    height: 16px;
    width: 40px;
}

.label-indicator {
    height: 100%;
    width: 50%;
}

.exp-indicator {
    height: 100%;
    width: 50%;
}

/* Modal overlay */
.modal-backdrop { 
    z-index: 0;
}

.modal-dialog {
    max-width: 60%!important;
}

.modalImage { 
    width: 230px;
    height: 160px;
    background: no-repeat center center; 
    background-size: 100% 100%;
    position: relative;
    background-color: grey;
}