.tuning-wrapper{
    margin: 2em;
}

.tuning-wrapper h5{
    font-weight: 700;
}

.input-inside{
    background-color: #F2F5FD;
    height: 100%;
    border-radius: 4px;
    padding: 24px;
    align-items: center;
}

.input-inside h6{
    color: #76819A;
}

.layers{
    margin: 1.5em 0;
}

.addlayer-button{
    margin-left: 1em;
}

.layers-inside{
    background-color: #F2F5FD;
    height: 100%;
    border-radius: 4px;
    padding: 24px;
}

.layer-input{
    display: flex;
    align-items: center;
}

.divider{
    height: 1px;
    background-color: #76819A;
    margin: 1.5em;
}

.addLayers{
    margin: 3em 0;
}

.add-inside{
    background-color: #F2F5FD;
    height: auto;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    /* flex-direction: row; */
}

.make-model{
    float:right;
    margin-bottom: 2em;
}

.param-desc{
    font-size: 12px;
    margin:0;
    color: #76819A;
    margin-bottom: 1em;
}

.param-name{
    margin:0;
}

.param-info{
    display:flex;
    align-items: center;
}

.param-info p:nth-child(1){
    margin-right: 4px;
}