.improvementTextArea {
    margin-top: 2.5rem;
}

.improvementLabel {
    font-size: 14px;
    color: #858585;
}

.apply-model {
    display: flex;
    margin-top: auto;
    padding-bottom: 16px;
}

.apply-model .btn {
    width: 100%;
    background-color: #2C98F0;
    border-color: #2C98F0;
}