.imageContainer {
    width: 100% !important;
    height: 100% !important; 
    margin: 0.25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 7px;
}

.modalTable {
    height: 100%;
    width: 49%;
    float: left;
}

.allImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modalTr {
    width: 100%;
    height: 80%;
    text-align: center;
}

.imageContainerLabel {
    text-align: center;
}
.selected {
    border: 4px solid red !important;
}

#getImages-container {
    padding: 1rem;
    border: 1px solid black;
}

ol li {
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 1.5em;
}

.singleItemOnModal {
    border: 1px solid black;
    height: 150px;
    width: 400px;
    margin: 20px;
    float: left;
    border: 1px solid lightgrey;
}