.mobile_viewer_app--iframeContainer--3vs-3 {
    margin: 0 auto;
}

.improvement-wrapper {
    width: 100%;
}

.embed-button {
    margin: 0;
    width: 100%;
    /* padding: 0; */
}

.figma-wrapper {
    display: flex;
    align-items: center;
}

ol {
    /* margin:0 0 1.5em; */
    padding:0;
    counter-reset: item;
}

ol>li {
    margin:0;
    /* padding:0 0 0 2em;
    text-indent:-2em; */
    list-style-type:none;
    counter-increment:item;
}

ol>li:before {
    display:inline-block;
    width:1.5em;
    /* padding-right:0.5em; */
    font-weight:bold;
    text-align:right;
    content:counter(item) ".";
}